<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <h1>All log | Home</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Excepturi expedita perspiciatis in iure harum tempore omnis atque ducimus laboriosam,
            accusantium iusto sit at suscipit voluptates aut alias voluptate distinctio labore!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>