<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>All log | Home</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Excepturi expedita perspiciatis in iure harum tempore omnis atque ducimus laboriosam,
            accusantium iusto sit at suscipit voluptates aut alias voluptate distinctio labore!</p>
    </div>
</body>
</html>